{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data View</title>
    <link href="{% static 'landing/dataview-styles.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="content-in-center">
        <!-- 0. Heading -->
        <img src="{% static 'landing/images/ClassiQue-LogoText.png' %}" alt="ClassiQue Logo" class="logo">
        
        <!-- 1. Search Bar -->
        <!-- BELUM FUNGSIONAL -->
        <div class="search-bar">
            <form method="get" action="">
                <input type="text" name="search" placeholder="Search..." value="{{ query }}">
                <button type="submit">Search</button>
            </form>
        </div>

        <!-- 2. Grid -->
        <div class="grid-container">
            {% for item in page_obj %}
                <div class="grid-item">
                    <img src="{{ MEDIA_URL }}{{ item.album }}" alt="Image of {{ item.composer }}">
                    <audio controls>
                        <source src="{{ MEDIA_URL }}{{ item.audio }}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                    <p>{{ item.composer }}</p>
                </div>
            {% endfor %}
        </div>
    
        <!-- Pagination -->
        <div class="pagination">
            <span class="page-link">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; First</a>
                    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}
            </span>
    
            <span class="page-links">
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <strong>{{ num }}</strong>
                    {% else %}
                        <a href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}
            </span>
    
            <span class="page-link">
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                {% endif %}
            </span>
        </div>
</body>
</html>