{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Upload Your Dataset</title>
        <link href="{% static 'landing/styles.css' %}" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class = "content-in-center">
            <form method="POST" enctype="multipart/form-data" action="{% url 'uploadPage' %}" class="form-in-center">
                {% csrf_token %} <!-- Token CSRF untuk keamanan -->
                <p><i>Why did Bach have so many kids?<br>Because he couldnt stop composing!</i></p>
                
                <label class="custom-file-upload">
                    <input type="file" name="audio-dataset" accept="audio/mid, audio/midi" multiple/>
                    <img src="{% static 'landing/images/Musical-Note.png' %}" alt="Musical Note PNG" class="audio-icon">
                    UPLOAD AUDIO
                </label>
                
                <label class="custom-file-upload">
                    <input type="file" name="image-dataset" accept="image/jpg, image/jpeg, image/png" multiple/>
                    <img src="{% static 'landing/images/Imagee.png' %}" alt="Image Icon PNG" class="image-icon">
                    UPLOAD IMAGE
                </label>

                <label class="custom-file-upload">
                    <input type="file" name="mapper-data" accept=".json"/>
                    <img src="{% static 'landing/images/Mapper.png' %}" alt="Mapper Icon PNG" class="mapper-icon">
                    UPLOAD MAPPER
                </label>

                <button type="submit" class="submit-button">SUBMIT</button>
            </form>
        </div>
    </body>
</html>