body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white; /* Warna teks putih */
    height: 100vh; /* Buat tinggi laman sesuai viewport */
}

.content-in-center {
    display: flex;
    flex-direction: column; /* Susun elemen secara vertikal */
    justify-content: center; /* Pusatkan secara vertikal */
    align-items: center; /* Pusatkan secara horizontal */
    height: 100vh; /* Buat elemen mengambil tinggi layar penuh */
    text-align: center; /* Buat teks berada di tengah */
    gap: 20px; /* Jarak antar elemen */
}

.form-in-center {
    display: flex;
    flex-direction: column; /* Susun elemen secara vertikal */
    justify-content: center; /* Pusatkan secara vertikal */
    align-items: center; /* Pusatkan secara horizontal */
    height: 100vh; /* Buat elemen mengambil tinggi layar penuh */
    text-align: center; /* Buat teks berada di tengah */
    gap: 5px; /* Jarak antar elemen */
}

img {
    max-width: 70%; /* Supaya gambar responsif */
    max-height: 80vh; /* Tidak melebihi tinggi viewport */
}

.start-button {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    display: flex;
    align-items: center; /* Align secara vertikal */
    justify-content: center; /* Align secara horizontal */
    padding: 15px 50px;
    font-size: 20px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    gap: 10px; /* Jarak antara gambar dengan teks */
}

.start-button img {
    width: 17px;    /* Ukuran gambar */
                    /* Height menyesuaikan */
    rotate: -20deg;
}

.start-button a {
    color: inherit; /* Warna teks tetap hitam (di-inherit) */
    text-decoration: none; /* Hapus garis bawah */
    display: flex;
    align-items: center;
    gap: 10px; /* Jarak antara gambar dengan teks */
}

p {
    font-family: 'DM Sans', sans-serif;
    font-weight: 0;
    font-size: 25px;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    background-color: white;
    color: black;
    display: flex;
    cursor: pointer;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    width: 300px;
    height: 60px;
    align-items: center; /* Align secara vertikal */
    justify-content: center; /* Align secara horizontal */
    padding: 12px 50px;
    font-size: 20px;
    border: none;
    border-radius: 30px;
    width: 200px;
    height: 40px;
    gap: 10px; /* Jarak antara gambar dengan teks */
}

.custom-file-upload:hover, .submit-button:hover {
    background-color: #9A794F; /* Warna latar saat button dihover */
}

.audio-icon {
    width: 20px;    /* Ukuran gambar */
                    /* Height menyesuaikan */
    rotate: -20deg;
}

.image-icon {
    width: 35px;    /* Ukuran gambar */
                    /* Height menyesuaikan */
}

.mapper-icon {
    width: 25px;    /* Ukuran gambar */
                    /* Height menyesuaikan */
}

.submit-button {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    display: flex;
    align-items: center; /* Align secara vertikal */
    justify-content: center; /* Align secara horizontal */
    padding: 15px 50px;
    font-size: 15px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}